.super-mario {
    width: 200px;
    z-index: 3;
  }
  
  .goomba {
    position: absolute;
    top: 360px;
    left: 70px;
    width: 100px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    top: 80px;
  
  }
  
  .speach {
    position: absolute;
    font-size: 25px;
    top: 120px;
    left: 225px;
    z-index: 5;
 
  }
  
  .bowser {
    position: absolute;
    top: 200px;
    left: 500px;
    width: 200px;
  }